.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.4rem;
}

.logoContainer img {
  width: 50%;
  height: 50%;
  opacity: 0.8;
}

.btnBack {
  font-size: 25px;
}

.toolItems {
  font-size: 15px;
}

.btnBackContainer {
  display: flex;
  align-items: center;
  gap: 1px;
  padding-left: 0px;
}

.btnBackContainer button {
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tools {
  display: flex;
  gap: 15px;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2%;
  padding-right: 1%;
}

.searchContainer input {
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  border: none;
}

.searchBtn {
  border: none;
  margin-left: 4px;
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
}
