@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  background: #2e69b0;
  color: #ffff;

  /* font-size: calc(8px + 1vmin); */
}
